html{ 
    box-sizing: border-box; 
    scroll-behavior: smooth; 
} 
    
body { 
    height: 100%; 
    line-height: 1;  
    font-weight: 400;
    background-color: rgb(73, 76, 77);
} 

h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.slider-conteiner {
    display: flex;
    justify-content: center;
}

.slider{
    margin: auto;
    max-width: 45%;
    overflow: hidden;
}

.slider-line {
    display: flex;
    transition: all 1s;
}

.text-line {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500%;
    transition: all 1s;
}

.slider-img {
    vertical-align: top; 
    border-radius: 5%;
    width: 100%;
    margin-right: 10%;
}

.text-slider {
    margin-top: 5%;
    width: 70%;
    overflow: hidden;
}

.text-pagination {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1.4em;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5%;
}

.pagination-conteiner {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.pagination-conteiner:hover {
    cursor: pointer;
}

.pagination-itm {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #8383b1;
    cursor:pointer;
}

.pagination-itm.active {
    background-color: transparent;
    border: solid 0.15rem #8383b1;
}

.pagination-conteiner:hover .pagination-itm {
    background-color: #fff;
    transition-duration: 1s;
}

.active:hover .pagination-itm {
    background-color: transparent;
    border: solid 0.15rem #fff;
    transition-duration: 1s;
}

footer{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.git-pic {
    width: 2em;
    margin-right: 2em;
}

.git-pic:hover, .git-pic:focus, .git-pic:active{ 
    transition-duration: 1s;
    border: 0;
    outline: 0;  
    transform: scale(1.1);
} 

.year {
    color: #b4abab;
    font-weight: 600;
}

.rs-text {
    width: 5em;
    margin-right: 2em;
}
  
.rs-text:hover, .rs-text:focus, .rs-text:active{ 
    transition-duration: 1s;
    border: 0;
    outline: 0;  
    transform: scale(1.1);
} 

@media (max-width: 900px) {
    .text-pagination {
        flex-direction: column-reverse;
        align-items: center;
    }

    .text-slider {
        width: 100%;
    }

    footer {
        margin-top: 15%;
    }
}
